@media(max-width:1200px) {
    .about-block__right-block {
        margin-left: 20px;
    }
}
@media(max-width:1160px) {
    .header-block__nav-elem {
        a {
            padding: 0 20px;
        }
    }
    .work-block__number-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .number-block {
        margin: 20px 0;
        text-align: center;
    }
    .number-block__number {
        margin: 0 auto;
    }
    .number-block__line_1 {
        display: none;
    }
    .number-block__line_2 {
        display: none;
    }
    .number-block__line_3 {
        display: none;
    }
    .number-block__line_4 {
        display: none;
    }
    .number-block__line_5 {
        display: none;
    }
}
@media(max-width:992px) {
    .header-block__nav-elem  {
        display: flex;
        flex-wrap: wrap;
    }
    .work-block {
        margin-top: -4px;
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .work-block__title {
        margin-bottom: 20px;
    }
}
@media(max-width:800px) {
    .about-us {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .about-block__right-block {
        margin-left: 0;
    }
    .left-block__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .right-block__title {
        margin-top: 50px;
    }
}
@media(max-width:725px) {
    .wrapper .header-block__number-margin {
        margin-left: 5px;
    }
    .container {
        padding: 0 20px;
    }
}
@media(max-width:685px) {
    .header-block__number {
        display: flex;
        flex-direction: column;
    }
    .wrapper .header-block__number-margin {
        margin-left: 0;
    }
    .header-block__contacts {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-block__number {
        margin-right: 10px;
    }
}
@media(max-width:500px) {
    .header-block__nav-elem  {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        a {
            margin: 5px 0;
        }
    }
    .header-block__centr-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media(max-width:390px) {
    .header-block__warranty {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background: $gray;
        padding-top: 34px;
        padding-bottom: 43px;
    }
}