@import "vars";
@import "libs";
@import "fonts";





@import "media";


$Playfair-Display: 'Playfair Display';
$Gilroy-Black: 'Gilroy-Black';
$Gilroy-Bold: 'Gilroy-Bold';
$Gilroy-Light: 'Gilroy-Light';
$Gilroy-Medium: 'Gilroy-Medium';
$Gilroy-Regular: 'Gilroy-Regular';
$Gilroy-SemiBold: 'Gilroy-SemiBold';
$orange: #FF9900;
$orange1: #FFB800;
$white: #fff;
$black: #000;