@import "vars";
@import "libs";
@import "fonts";
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
.header-block {
    background: url(../images/block1/electrician-installer-with-tool-his-hands-working-with-cable-construction-site-1.png) no-repeat;
}
.header-block__contacts {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 13px;
}
.header-block__number {
    margin-right: 105px;
    a {
        text-decoration: none;
        color: $white;
        font-size: 16px;
        font-family: $Gilroy-Medium;
        transition: 0.5s;
    }
    a:hover {
        color: $orange;
        transition: 0.5s;
    }
    .header-block__number-margin {
        margin-left: 47px;
    }
}
.header-block__social {
    display: flex;
    justify-content: space-between;
    .header-block__social_active svg {
        margin: 0 10px;
        cursor: pointer;
        fill: $white;
        transition: 0.5s;
    }
    .header-block__social_active svg:hover {
        fill: $orange;
        transition: 0.5s;
    }
}
.header-block__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.header-block__logo {
    h3 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-family: $Gilroy-Black;
        color: $orange;
    }
}
.header-block__nav-elem {
    a {
        text-decoration: none;
        font-family: $Gilroy-Regular;
        font-size: 18px;
        color: $white;
        padding: 0 40px;
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        top: 25px;
        right: 0;
        width: 100%;
        height: 2px;
        background: $orange;
        display: none;
    }
    a:hover::before {
        display: block;
    }
    a:hover {
        color: $orange;
    }
}
.header-block__btn {
    button {
        padding: 8px 12px;
        background: none;
        border: 2px solid $orange;
        font-family: $Gilroy-Bold;
        font-size: 16px;
        color: $orange;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover {
        color: $white;
        transition: 0.5s;
    }
}
.container-center {
    max-width: 860px;
    padding: 0 5px;
    margin: 0 auto;
}
.header-block__centr-text {
    margin-top: 157px;
    margin-bottom: 248px;
}
.header-block__text-h1 {
    h1 {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-family: $Playfair-Display;
        color: $white;
    }
}
.header-block__text-p {
    margin-top: 30px;
    p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        color: $white;
        font-family: $Gilroy-Regular;

    }
}
.header-block__btn_centr-btn {
    margin-top: 60px;
    button {
        background: $orange;
        color: $white;
        padding: 11px 11px;
    }
    button:hover {
        color: $orange;
        background: $white;
    }
}
.header-block__warranty {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    padding-top: 34px;
    padding-bottom: 43px;
}
.warranty-block {
    display: flex;
    justify-content: space-between;
}
.warranty-block__text {
    margin-right: -100px;
    margin-top: 20px;
    p {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: $white;
        font-family: $Gilroy-SemiBold;
        max-width: 180px;
        width: 100%;
    }
}
.warranty-block__svg {
    img {
        width: 100%;
    }
}
////////////////////////// about us
.about-us {
    display: flex;
    justify-content: space-between
}
.about-us__left-block {
    position: relative;
    z-index: 2;
}
.left-block__text {
    max-width: 238px;
    width: 100%;
    height: 220px;
    background: $orange1;
    position: absolute;
    right: 0;
    bottom: 3px;
    p {
        font-family: $Gilroy-Regular;
        font-size: 30px;
        color: $white;
        padding: 0;
        margin: 0;
        width: 100px;
        margin-left: 34px;
        margin-top: 20px;
    }
    .left-block__text_big {
        font-family: $Playfair-Display;
        font-size: 70px;
        color: $white;
    }
}
.about-block__right-block {
    margin-left: 188px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.right-block__title {
    margin-top: 148px;
    margin-bottom: 8px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Regular;
        color: $orange;
        font-size: 18px;
        letter-spacing: 9px;
        text-transform: uppercase;
        padding: 0 5px;
    }
}
.right-block__title-centre {
    margin-bottom: 27px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        color: $black;
        font-size: 40px;
        padding: 0 5px;
    }
}
.right-block__text-about {
    max-width: 542px;
    width: 100%;
    p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: $Gilroy-Regular;
        color: $gray;
        padding: 0 5px;
    }
    .right-block__text-about_bottom {
        margin-top: 25px;
    }
}
.right-block__img {
    position: absolute;
    right: 0;
    bottom: -175px;
}



@import "media";
$Playfair-Display: 'Playfair Display';
$Gilroy-Black: 'Gilroy-Black';
$Gilroy-Bold: 'Gilroy-Bold';
$Gilroy-Light: 'Gilroy-Light';
$Gilroy-Medium: 'Gilroy-Medium';
$Gilroy-Regular: 'Gilroy-Regular';
$Gilroy-SemiBold: 'Gilroy-SemiBold';
$orange: #FF9900;
$orange1: #FFB800;
$white: #fff;
$black: #000;
$gray: #7C7C7C;



// .test {
//     position: relative;
// }
// .loader-container {
//     width: 100px;
//     height: 100px;
//     background: $black;
//     border-radius: 50%;
//     z-index: 2;
//     margin: 200px 0;
//     border-radius: 0 100% 0 0 / 0 100% 0 0;
// }