@import "vars";
@import "libs";
@import "fonts";
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
.header-block {
    background: url(../images/block1/electrician-installer-with-tool-his-hands-working-with-cable-construction-site-1.png) no-repeat;
}
.header-block__contacts {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 13px;
}
.header-block__number {
    margin-right: 105px;
    a {
        text-decoration: none;
        color: $white;
        font-size: 16px;
        font-family: $Gilroy-Medium;
        transition: 0.5s;
    }
    a:hover {
        color: $orange;
        transition: 0.5s;
    }
    .header-block__number-margin {
        margin-left: 47px;
    }
}
.header-block__social {
    display: flex;
    justify-content: space-between;
    .header-block__social_active svg {
        margin: 0 10px;
        cursor: pointer;
        fill: $white;
        transition: 0.5s;
    }
    .header-block__social_active svg:hover {
        fill: $orange;
        transition: 0.5s;
    }
}
.header-block__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.header-block__logo {
    h3 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-family: $Gilroy-Black;
        color: $orange;
    }
}
.header-block__nav-elem {
    a {
        text-decoration: none;
        font-family: $Gilroy-Regular;
        font-size: 18px;
        color: $white;
        padding: 0 40px;
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        top: 25px;
        right: 0;
        width: 100%;
        height: 2px;
        background: $orange;
        display: none;
    }
    a:hover::before {
        display: block;
    }
    a:hover {
        color: $orange;
    }
}
.header-block__btn {
    button {
        padding: 8px 12px;
        background: none;
        border: 2px solid $orange;
        font-family: $Gilroy-Bold;
        font-size: 16px;
        color: $orange;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover {
        color: $white;
        transition: 0.5s;
    }
}
.container-center {
    max-width: 860px;
    padding: 0 5px;
    margin: 0 auto;
}
.header-block__centr-text {
    margin-top: 157px;
    margin-bottom: 248px;
}
.header-block__text-h1 {
    h1 {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-family: $Playfair-Display;
        color: $white;
    }
}
.header-block__text-p {
    margin-top: 30px;
    p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        color: $white;
        font-family: $Gilroy-Regular;

    }
}
.header-block__btn_centr-btn {
    margin-top: 60px;
    button {
        background: $orange;
        color: $white;
        padding: 11px 11px;
    }
    button:hover {
        color: $orange;
        background: $white;
    }
}
.header-block__warranty {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    padding-top: 34px;
    padding-bottom: 43px;
}
.warranty-block {
    display: flex;
    justify-content: space-between;
}
.warranty-block__text {
    margin-right: -100px;
    margin-top: 20px;
    p {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: $white;
        font-family: $Gilroy-SemiBold;
        max-width: 180px;
        width: 100%;
    }
}
.warranty-block__svg {
    img {
        width: 100%;
    }
}
////////////////////////// about us
.about-us {
    display: flex;
    justify-content: space-between
}
.about-us__left-block {
    position: relative;
    z-index: 2;
}
.left-block__text {
    max-width: 238px;
    width: 100%;
    height: 220px;
    background: $orange1;
    position: absolute;
    right: 0;
    bottom: 3px;
    p {
        font-family: $Gilroy-Regular;
        font-size: 30px;
        color: $white;
        padding: 0;
        margin: 0;
        width: 100px;
        margin-left: 34px;
        margin-top: 20px;
    }
    .left-block__text_big {
        font-family: $Playfair-Display;
        font-size: 70px;
        color: $white;
    }
}
.about-block__right-block {
    margin-left: 188px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.right-block__title {
    margin-top: 148px;
    margin-bottom: 8px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Regular;
        color: $orange;
        font-size: 18px;
        letter-spacing: 9px;
        text-transform: uppercase;
        padding: 0 5px;
    }
}
.right-block__title-centre {
    margin-bottom: 27px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        color: $black;
        font-size: 40px;
        padding: 0 5px;
    }
}
.right-block__text-about {
    max-width: 542px;
    width: 100%;
    p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: $Gilroy-Regular;
        color: $gray;
        padding: 0 5px;
    }
    .right-block__text-about_bottom {
        margin-top: 25px;
    }
}
.right-block__img {
    position: absolute;
    right: 0;
    bottom: -175px;
}
////////////////////////// work
.work-block {
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    margin-top: -4px;
    padding-top: 65px;
    padding-bottom: 144px;
}
.work-block__container-work {
    max-width: 1092px;
    margin: 0 auto;
}
.work-block__text-title {
    margin-bottom: 10px;
    padding: 0 5px;
    h3 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: $orange;
        font-size: 18px;
        font-family: $Gilroy-Regular;
        letter-spacing: 9px;
    }
}
.work-block__title {
    padding: 0 5px;
    margin-bottom: 95px;
    h3 {
        margin: 0;
        padding: 0;
        color: $white;
        font-family: $Playfair-Display;
        font-size: 40px;
    }
}
.number-block {
    margin: 0 20px;
}
.work-block__number-block {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.number-block__number {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 1px solid $white;
    p {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        font-size: 40px;
        text-align: center;
    }
    .number-block__number_text {
        margin-top: 5px;
    }
}
.number-block__text {
    p {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Regular;
        font-size: 14px;
        color: $white;
        width: 155px;
        margin-top: 30px;
    }
}

.number-block__line_1 {
    width: 128px;
    height: 1px;
    background: $white;
    position: absolute;
    left: 48px;
    top: 33px;
}
.number-block__line_2 {
    width: 128px;
    height: 1px;
    background: $white;
    position: absolute;
    left: 243px;
    top: 33px;
}
.number-block__line_3 {
    width: 128px;
    height: 1px;
    background: $white;
    position: absolute;
    left: 439px;
    top: 33px;
}
.number-block__line_4 {
    width: 128px;
    height: 1px;
    background: $white;
    position: absolute;
    right: 330px;
    top: 33px;
}
.number-block__line_5 {
    width: 128px;
    height: 1px;
    background: $white;
    position: absolute;
    right: 135px;
    top: 33px;
}
////////////////////////// portfolio
.portfolio-block {
    padding-top: 100px;
}
.portfolio-block__text-title {
    margin-bottom: 10px;
    text-align: center;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Regular;
        font-size: 18px;
        color: $orange;
        text-transform: uppercase;
        letter-spacing: 9px;
    }
}
.portfolio-block__title {
    text-align: center;
    margin-bottom: 40px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        font-size: 40px;
        color: $black;
    }
}
.pirtfolio-text {
    margin: 0 auto;
    position: relative;
    padding: 0 5px;
    z-index: 1;
    h4 {
        margin: 0;
        padding: 0;
        margin-top: 166px;
        font-family: $Gilroy-SemiBold;
        font-size: 24px;
        color: $black;
        margin-bottom: 24px;
    }
    p {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        max-width: 504px;
        width: 100%;
        font-size: 18px;
        font-family: $Gilroy-Regular;
        color: $black;
    }
}
.pirtfolio-text__span {
    p {
        font-size: 20px;
        font-family: $Gilroy-Regular;
        color: $black;
        margin-bottom: 12px;
    }
    span {
        font-family: $Gilroy-Bold;
        font-size: 18px;
    }
}
.pirtfolio-text__img {
    position: absolute;
    right: -355px;
    bottom: -95px;
}
.portfolio-slider__slide-min {
    margin-right: 5px;
    max-width: 102px;
    height: 325px;
    z-index: 2;
    .slick-list {
        overflow: hidden;
    }
}
.portfolio-slider__img {
    max-width: 541px;
    width: 100%;
    height: 590px;
    position: relative;
    .slick-arrow {
        position: absolute;
        right: 77px;
        bottom: -70px;
    }
    .arrow__prev {
        position: absolute;
        right: 120px;
        bottom: -70px;
        transform: rotate(180deg);
        cursor: pointer;
    }
    .arrow__next {
        position: absolute;
        right: 50px;
        bottom: -70px;
        transform: rotate();
        cursor: pointer;
    }
    .slick-dots {
        display: flex;
        justify-content: flex-start;
        .slick-active {
            button {
                background: #FFFFFF;
                box-shadow: 0px 0px 4px rgba(255, 153, 0, 0.43);
            }
        }
        li {
            list-style: none;
        }
        button {
        font-size: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.45);
        border: none;
        cursor: pointer;
        margin: 0 20px;
        }
    }
}
.portfolio-slider__slide-max_block {
    max-width: 541px;
    width: 100%;
}
.portfolio-slider__slide-max {
    z-index: 2;
}
.portfolio-block__text-and-slider {
    display: flex;
    justify-content: space-between;
}
.portfolio-slider {
    display: flex;
    justify-content: space-between;
}
.portfolio-slider__orange-block {
    width: 100%;
    height: 94px;
    background: $orange1
}
////////////////////////// reviews
.reviews-block {
    background: url(../images/block5/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman-1.png) center no-repeat;
    position: relative;
    z-index: 2;
    text-align: center;
}
.reviews-block__container {
    max-width: 766px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    position: relative;
    padding: 0 5px;
}
.reviews-block__img {
    position: absolute;
    right: 100px;
    top: 290px;
}
.reviews-block__about-title {
    padding-top: 75px;
    margin-bottom: 10px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Regular;
        font-size: 18px;
        color: $orange;
        text-transform: uppercase;
        letter-spacing: 9px;
    }
}
.reviews-block__title {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 140px;
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        color: $white;
        font-size: 40px
    }
}
.reviews-block__block-slider {
    max-width: 561px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
    .arrow__prev {
        position: absolute;
        left: 145px;
        bottom: 50px;
        transform: rotate(180deg);
        cursor: pointer;
    }
    .arrow__next {
        position: absolute;
        right: 145px;
        bottom: 50px;
        transform: rotate();
        cursor: pointer;
    }
    .slick-dots {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 160px;
        bottom: 45px;
        .slick-active {
            button {
                background: $orange;
                box-shadow: 0px 0px 4px rgba(255, 153, 0, 0.43);
            }
        }
        li {
            list-style: none;
        }
        button {
        font-size: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.45);
        border: none;
        cursor: pointer;
        margin: 0 20px;
        }
    }
}
.reviews-block__slider {
    p {
        font-family: $Gilroy-Light;
        font-size: 16px;
        color: $white;
        margin: 0;
        padding: 0;
    }
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Gilroy-Medium;
        font-size: 20px;
        color: $white;
        margin-top: 20px
    }
}


@import "media";
$Playfair-Display: 'Playfair Display';
$Gilroy-Black: 'Gilroy-Black';
$Gilroy-Bold: 'Gilroy-Bold';
$Gilroy-Light: 'Gilroy-Light';
$Gilroy-Medium: 'Gilroy-Medium';
$Gilroy-Regular: 'Gilroy-Regular';
$Gilroy-SemiBold: 'Gilroy-SemiBold';
$orange: #FF9900;
$orange1: #FFB800;
$white: #fff;
$black: #000;
$gray: #7C7C7C;



// .test {
//     position: relative;
// }
// .loader-container {
//     width: 100px;
//     height: 100px;
//     background: $black;
//     border-radius: 50%;
//     z-index: 2;
//     margin: 200px 0;
//     border-radius: 0 100% 0 0 / 0 100% 0 0;
// }